<article class="bg-light">
  <h1 class="page-title">{{ pageTitle }}</h1>
  <nav class="navbar navbar-expand navbar-light center-align">
    <ul class="nav nav-pills">
      <li>
        <a class="nav-link" routerLinkActive="active" routerLink="/welcome"
          >Home</a
        >
      </li>
      <li>
        <a class="nav-link" routerLinkActive="active" routerLink="/products"
          >Product List</a
        >
      </li>
      <li>
        <ng-container *ngIf="auth.isAuthenticated$ | async; else logout">
          <a class="nav-link" (click)="auth.logout()">logout</a>
        </ng-container>
        <ng-template #logout>
          <a class="nav-link" (click)="auth.loginWithPopup()">login</a>
        </ng-template>
      </li>
    </ul>
  </nav>
</article>
<div class="container">
  <router-outlet></router-outlet>
</div>
