<h1 class="page-title">{{ pageTitle }}</h1>
  <nav mat-tab-nav-bar mat-align-tabs="center">
        <a class="nav-link" mat-tab-link routerLinkActive="active" routerLink="/welcome"
          >Home</a
        >
        <a mat-tab-link class="nav-link" routerLinkActive="active" routerLink="/products"
          >Product List</a
        >
        <a mat-tab-link class="nav-link" routerLinkActive="active" routerLink="/profile"
          >Profile</a
        >
        <ng-container *ngIf="auth.isAuthenticated$ | async; else logout">
          <a  mat-tab-link
            class="nav-link"
            (click)="auth.logout({ returnTo: document.location.origin })"
            >Logout</a
          >
        </ng-container>
        <ng-template #logout>
          <a mat-tab-link class="nav-link" (click)="auth.loginWithPopup()">Login</a>
        </ng-template>
  </nav>
<div class="container">
  <router-outlet></router-outlet>
</div>
