article.profile-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20rem;
  column-gap: 1rem;

  > img {
    border-radius: 50%;
    box-shadow: 0 0 8px 2px rgb(0 0 0 / 15%);
  }

  > section > p {
    color: slategrey;
    font-size: 1.2rem;
  }
}

section.align-center {
  display: flex;
  justify-content: center;
  margin-top: 4rem;

  button.demo-btn {
    padding: 0 1rem;
    background: transparent;
    border: 2px solid black;
    border-radius: 6px;
    color: black;
    font-size: 1.2rem;

    &:not(:last-child) {
      margin-right: 1rem;
    }
  }
}
